# Logs
*.log

# Dependency directories
node_modules/

# SVN folders and files

# Distribution directories
dist/

# Testing directories
*coverage/
*lint/

# VSCode: ignore workspace (symlinks)
.vscode/*.code-workspace